#fr-panel {
  height: 100%;
  border-left: 1px solid hsl(192, 15%, 70%);
  font-family: "Source Code Pro Regular", "Consolas", monospace;
  font-size: 14px;
}		
		
.lineaCodigoCompilado {
  margin-left: 6px;
}

.highlighted {
  background-color: #e8f2ff;
}