#editor-div {
  height: 100%;
  width: 60%;
}

.CodeMirror {
  width: 100%;
  height: 100% !important;
  box-sizing: border-box;
  border: 0px;
  font-size: 14px;
  font-family: "Source Code Pro Regular", "Consolas", monospace;
}

/*------BOTONES-------*/

.green-button {
  background-color: hsl(120, 61%, 50%);
  color: white;
  border: 1px solid hsl(120, 61%, 35%);
}

.green-button:hover {
  background-color: hsl(120, 61%, 55%);
}

.green-button:active {
  background-color: hsl(120, 61%, 35%);
}

.green-button:disabled {
  background-color: hsl(120, 61%, 35%);
}

.blue-button {		
 background-color: hsl(207, 100%, 50%);
 color: white;		
 border: 1px solid hsl(207, 100%, 35%);		
}		
		
.blue-button:hover {		
 background-color: hsl(207, 100%, 55%);
}		
		
.blue-button:active {		
 background-color: hsl(207, 100%, 35%);
}

.blue-button:disabled {		
 background-color: hsl(207, 100%, 35%);
}

.red-button {
  background-color: hsl(0, 100%, 50%);
  color: white;
  border: 1px solid hsl(0, 100%, 35%);
}

.red-button:hover {
  background-color: hsl(0, 100%, 55%);
}

.red-button:active {
  background-color: hsl(0, 100%, 35%);
}

.red-button:disabled {
  background-color: hsl(0, 100%, 35%);
}

/* ---- MessagePanel ----*/

#message_list {
  overflow-y: scroll;
  transition: height 150ms;
}

.msg_list-collapsed {
  height: 0px;
}

.msg_list-expanded {
  height: 200px;
  max-height: 200px;
}

.error-msg-container {
  margin-top: 3px;
  border-bottom: 1px solid hsla(1, 94%, 30%, 1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: hsl(0, 100%, 98%);
}

.error-bar {
  background-color: hsl(0, 100%, 58%);
  border-top: 1px solid hsla(1, 94%, 30%, 1);
  border-bottom: 2px solid hsl(1, 95%, 38%);
}

.error-title {
  color: white;
  font-family: 'Segoe UI';
  font-size: 16px;
  font-weight: 400;
}

.octicon-chevron-up {
  color: white;
  margin-right: 4px;
  transform: rotate(180deg);
  transition: transform 300ms;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: initial;
}

.chevron-restored {
  transform: rotate(0deg);
}

#extra_info p {
  margin-left: 4px;
}

.code {
  border-radius: 3px;
  border: 1px solid hsl(0, 0%, 81%);
  background-color: rgb(247, 247, 247);
  color: black;
  padding: 1px 4px;
  margin: 0px 2px;
}
